@page "/exc"

@using VaaradhiPay.Components.Layout
@using VaaradhiPay.Components.Pages.L1
@using VaaradhiPay.DTOs
@using VaaradhiPay.Services.Implementations

@inject NavigationManager NavigationManager
@inject ExchangeTransactionService ExchangeTransactionService

@rendermode InteractiveServer

@layout EmptyLayout

@inherits ComponentBase

@inject ToastService Toast
@inject PreloadService Load

    <div class="exchange-card-container">
        
        @* Tabs Buy and Sell *@
        <div class="exchange-tabs-container">
            <BuySellButtons OnTabChanged="HandleTabChange" />
        </div>
        
        @* Exchange Form Body *@
        <div class="exchange-card-body p-3">

            @* exchange rate display *@
            <div class="text-dark">
                1 USDT is Roughly <span class="text-dark fw-bold fs-4">@INRprice</span><span class="fw-bold fst-italic fs-6">INR</span>
            </div>

            @* exchange Form *@
            <ExchangeForm OnTransactionCompleted="HandleTransactionCompleted"/>

        </div>
    </div>

<!-- Toast Notifications -->
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<!-- Loader -->
<Preload LoadingText="Loading..." />

@code {
    private string INRprice = "90.80";
    private bool IsBuyTab = true;

    private void HandleTabChange(bool isBuy)
    {
        IsBuyTab = isBuy;
        Console.WriteLine(isBuy ? "Buy tab is active" : "Sell tab is active");
    }

    private void HandleTransactionCompleted(ExchangeTransactionDTO transaction)
    {

        transaction.IsBuy = IsBuyTab;

        // Store transaction in the shared service
        ExchangeTransactionService.CurrentTransaction = transaction;

        // Add logic to navigate to the billing page
        NavigationManager.NavigateTo($"/bill");
    }
}

<style>
    .exchange-card-container {
        width: 400px;
        height: 390px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    }

    .exchange-tabs-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid #D4D9E2;
    }

    .exchange-card-body{
        height: 100%;
    }

    

</style>