

<div class="access-restricted-container">
    <p>To proceed with the exchange, you need to have an account.</p>
    <p>Please <span class="access-restricted-highlater">Log-in</span> or <span class="access-restricted-highlater">Sign-Up</span> to access your dashboard and complete your exchange securely.</p>
</div>
@code {

}
<style>
    .access-restricted-container {
        max-width: 600px;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .access-restricted-highlater{
        color: #DF0A0A;
    }
</style>