@page "/stepper"



<div class="w-100 d-flex justify-content-evenly align-items-center">
    <div class="d-flex justify-content-center align-items-center flex-column me-4">
        <i class="bi bi-patch-check" />
        <p class="m-0 p-0">Verify</p>
    </div>
    <hr class="w-100 m-0">
    <div class="d-flex justify-content-center align-items-center flex-column mx-4">
        <i class="bi bi-wallet" />
        <p class="m-0 p-0">Pay</p>
    </div>
    <hr class="w-100 m-0">

    <div class="d-flex justify-content-center align-items-center flex-column ms-4">
        <i class="bi bi-emoji-smile" />
        <p class="m-0 p-0">Done</p>
    </div>
</div>


@code {
    [Parameter] public int CurrentStep { get; set; } 

    protected override void OnParametersSet()
    {
        // Log the current step value whenever the parameter is updated
        Console.WriteLine($"[StepperTransaction] CurrentStep updated to: {CurrentStep}");
        base.OnParametersSet();
    }

}
