<style>
    .crypto-wallet {
        display: flex;
        justify-content: space-between;
    }

    .crypto-wallet-header h2 {
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: #000000;
        letter-spacing: 3px;
        padding: 10px 0 0 35px;
    }

    .crypto-wallet-header p {
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 600;
        color: #67757C;
        padding: 8px 0 0 35px;
    }

    .crypto-wallet-add {
        display: flex;
        padding: 40px 80px 0 0;
    }

        .crypto-wallet-add h1 {
            font-weight: 600;
            font-family: "Poppins";
            font-size: 14px;
            columns: #000000;
            text-transform: uppercase;
            margin: 0%;
        }

        .crypto-wallet-add i {
            font-size: 20px;
        }

    .hr1 {
        width: 90%;
        margin: 0 0 0 30px;
    }
</style>


<div class="crypto-wallet">
    <div class="crypto-wallet-header">
        <h2> crypto wallet</h2>
        <p> No details to show</p>
    </div>
    <div class="crypto-wallet-add">
        <i class="bi bi-plus-lg"></i>
        <h1> Add</h1>
    </div>
</div>
<hr class="hr1">
<div class="crypto-wallet">
    <div class="crypto-wallet-header">
        <h2> Bank Account details </h2>
        <p> No details to show</p>
    </div>
    <div class="crypto-wallet-add">
        <i class="bi bi-plus-lg"></i>
        <h1> Add</h1>
    </div>
</div>
<hr class="hr1">
<div class="crypto-wallet">
    <div class="crypto-wallet-header">
        <h2> upi details</h2>
        <p> No details to show</p>
    </div>
    <div class="crypto-wallet-add">
        <i class="bi bi-plus-lg"></i>
        <h1> Add</h1>
    </div>
</div>
@code {

}
